*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
}
h1{
    text-align: center;
}
body h1 {
    padding-top: 2em;
}
form{
    text-align: center  ;
    padding: 5em;
}
.gt{
   padding: 0.5em; 
}
footer{
    text-align: center;
    font-size: 3em;
}
button{
    padding: 1em;
}